@model Tömasös.ViewModels.Admin.AdminUserViewModel

<article class="profile-values-grid admin-view justify-grid-end">
    <h3>Namn</h3>
    <p>@Model.User.Name</p>

    <h3>Email</h3>
    <p>@Model.User.Email</p>

    <h3>Användarnamn</h3>
    <p>@Model.User.UserName</p>

    <h3>Telefonnummer</h3>
    <p>@Model.User.PhoneNumber</p>

    <h3>Adress</h3>
    <p>@Model.User.StreetAddress</p>

    <h3>Postort</h3>
    <p>@Model.User.ZipCode @Model.User.City</p>

    <form asp-controller="Admin" asp-action="UpdateUser" method="post">
        <input type="hidden" asp-for="User.Id" value=@Model.User.Id />
        <select asp-for="UserUpdatedRole" asp-items=@Model.Roles></select>
        <button type="submit" class="btn">Uppdatera</button>
    </form>
    
</article>
<article class="admin-view">
     <h2>
        Beställningshistorik
    </h2>
    <ul class="scrollable-orders">
            
            @foreach(var item in Model.User.Orders)
        {
            <li>
                @String.Join(", ",item.OrderDishes.Select(x=>x.Dish.DishName)) @item.OrderDate.ToShortDateString() -  @item.OrderDate.ToShortTimeString()
                
            </li>
        }           
    </ul>
</article>